.formTitle {
  color: #181817;
}

.adminForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.adminForm input,
.adminForm textarea {
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #181817;
  font-size: 1rem;
}

.adminForm textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.addBtn {
  background-color: #bcbcb7;
  color: #181817;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.addBtn:hover {
  background-color: #e5e5e1;
}
